<div class="container px-5 px-sm-0">
 <div class="row">
  <h2><span class="bg-secondary">会員情報編集</span></h2>
 </div>
 
 <div class="row">
<%= form_with model: @customer, url: update_customer_path(current_customer), method: :patch do |f| %>

<table>
    <tr>
     <td>名前</td>
     <td>（姓）</td>
     <td>
      <%= f.text_field :last_name %>
     </td>
     <td>（名）</td>
     <td>
      <%= f.text_field :first_name %>
     </td>
    </tr>
    
    <tr>
     <td>フリガナ</td>
     <td>（セイ）</td>
     <td>
      <%= f.text_field :last_name_kana %>
     </td>
     <td>（メイ）</td>
     <td>
      <%= f.text_field :first_name_kana %>
     </td>
    </tr>

    <tr>
     <td>メールアドレス</td>
     <td></td>
     <td>
      <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
     </td>
    </tr>
    
    <tr>
     <td>郵便番号(ハイフンなし)</td>
     <td></td>
     <td>
      <%= f.text_field :post_code %>
     </td>
    </tr>
    
    <tr>
     <td>住所</td>
     <td></td>
     <td>
      <%= f.text_field :address %>
     </td>
    </tr>
    
    <tr>
     <td>電話番号（ハイフンなし）</td>
     <td></td>
     <td>
      <%= f.text_field :phone_number %>
     </td>
    </tr>

  </table>
  
  <div class="form-group">
   <%= f.submit "編集内容を保存", class: 'btn btn-success btn-sm' %>
   <%= link_to "退会する",  unsubscribe_path, class: 'btn btn-sm btn-danger' %>
  </div>

<% end %>
</div>



 </div>
</div>