<div class="container px-5 px-sm-0">
 <div class="row">
  <h2><span class="bg-secondary">マイページ</span></h2>
 </div>
 
 <div class="row">
  <h2>登録情報</h2>
  <div class="action">
   <%= link_to "編集する",  edit_customer_path(current_customer), class: 'btn btn-sm btn-success' %>
  </div>
 </div>
 

 <table class="table table-bordered border-dark">
    <tr>
     <td class="table-active">氏名</td>
     <td>
      <%= @customer.last_name %> <%= @customer.first_name %>
     </td>
    </tr>
    
    <tr>
     <td class="table-active">カナ</td>
     <td>
      <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
     </td>
    </tr>
    
    <tr>
     <td class="table-active">郵便番号</td>
     <td>
      <%= @customer.post_code %>
     </td>
    </tr>
    
    <tr>
     <td class="table-active">住所</td>
     <td>
      <%= @customer.address %>
     </td>
    </tr>
    
    <tr>
     <td class="table-active">電話番号</td>
     <td>
      <%= @customer.phone_number %>
     </td>
    </tr>
    
    <tr>
     <td class="table-active">メールアドレス</td>
     <td>
      <%= @customer.email %>
     </td>
    </tr>
    
 </table>
