<div class='container'>
    <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>商品詳細</h2>
        </div>
    </div>
</div>
<div class='container'>
    <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto pt-5">
            <%= image_tag @item.get_profile_image, size:"500x500" %><br>
            <p><%= "商品名" %>　<%= @item.id %></p>
            <p><%= "商品詳細" %>　<%= @item.introduction %></p>
            <p><%= "ジャンル" %>　<%= @item.genre %></p>
            <p><%= "税込価格(税抜価格)" %>　<%= @item.price %></p>
            <p><%= "販売ステータス" %><% if !@item.is_active %>　<%= "販売中止中" %>　<% else %>　<%= "販売中" %>　<% end %></p>
        </div>
    </div>
</div>