   <%= form_with model: @delivery do |f| %>
   <table class="table">
   <tr>
    <td>郵便番号（ハイフンなし）</td>
    <td><%= f.text_field :post_code %></td>
    <td></td>
   </tr>
        
   <tr>
    <td>住所</td>
    <td><%= f.text_field :address %></td>
    <td></td>
   </tr>
   
   <tr>
    <td>宛名</td>
    <td><%= f.text_field :name %></td>
    <td><%= f.submit '新規登録', class: 'btn btn-success btn-sm' %></td>
   </tr>  
  </table>
  <% end %>

