<div class="container mt-4">
 <div class="row">
   <di class="col">
    <h2><span class="bg-secondary">配送先登録/一覧</span></h2>
    <div class="mt-4">
     <%= render 'new', delivery: @delivery %>
    </div>
 
   <table class="table table-bordered border-dark mt-4">
    <tr>
     <td class="table-active">郵便番号</td>
     <td class="table-active">住所</td>
     <td class="table-active">宛名</td>
     <td class="table-active"></td>
     <td class="table-active"></td>
    </tr>
    <% if current_customer.deliveries.present?%>
    <% current_customer.deliveries.each do |delivery| %>
    <tr>
     <td><%= delivery.post_code %></td>
     <td><%= delivery.address %></td>
     <td><%= delivery.name %></td>
     <td><%= link_to "編集する", edit_delivery_path(delivery), class: 'btn btn-sm btn-success' %></td>
     <td><%= link_to "削除する", delivery_path(delivery.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: 'btn btn-sm btn-danger' %></td>
    </tr>
    <% end %>
    <% end %>
   </table>
   </div>
  </div>
 </div>